<div>
  <form [formGroup]="personForm" (ngSubmit)="submit()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Nome" formControlName="name" />
      <input pInputText placeholder="E-mail" formControlName="email">
      <input pInputText placeholder="CPF" formControlName="socialNumber">
      <p-calendar
          appendTo="body"
          placeholder="Data de Nascimento"
          formControlName="birthDate"
          dateFormat="dd/MM/yy"></p-calendar>

      <div class="row" *ngIf="personAction.event.action !== addEvent">
        <span class="">Ativo</span>
        <p-inputSwitch
          appendTo="body"
          formControlName="ativo">
        </p-inputSwitch>
      </div>

      <p-chips
        pTooltip="Digite o número do telefone e pressione a tecla Enter"
        tooltipPosition="left"
        formControlName="phones"
        placeholder="Telefones">
      </p-chips>
      <div class="flex flex-row justify-content-center align-content-center align-items-center">
        <p-button
          [disabled]="!personForm.valid"
          type="submit"
          label="Concluir">
        </p-button>
      </div>
    </div>
  </form>
</div>
