<div class="grid">
  <div class="col-12">
    <div class="flex justify-content-center align-content-center text-align-center mt-5">

      <!-- Login -->
      <form class="text-center" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">

        <p-card
        styleClass="mt-10"
        header="Login"
        *ngIf="loginCard">

        <div class="flex justify-content-center align-content-center text-align-center">
          <input type="email" formControlName="email" pInputText placeholder="Email" [style]="{ width: '420px' }">
        </div>

        <div class="flex justify-content-center align-content-center text-align-center mt-3">
          <input type="password" formControlName="password" pInputText placeholder="Senha" [style]="{ width: '420px' }">
        </div>

        <div class="card flex justify-content-center mt-5">
          <button type="submit" [disabled]="!this.loginForm.valid" pButton pRipple label="Entrar" icon="pi pi-user" [style]="{ width: '250px' }"></button>
        </div>

        <span
        class="flex justify-content-center align-content-center text-align-center mt-3 text-grey-600 font-semibold"
        style="cursor: pointer;"
        (click)="loginCard = !loginCard"
        > Criar Conta </span>

      </p-card>
      </form>


      <!-- Signup -->
      <form class="text-center" [formGroup]="signupForm" (ngSubmit)="onSubmitSignup()">

        <p-card
        styleClass="mt-10"
        header="Cadastre-se"
        *ngIf="!loginCard">

        <div class="flex justify-content-center align-content-center text-align-center">
          <input type="text" formControlName="name" pInputText placeholder="Nome" [style]="{ width: '420px' }">
        </div>

        <div class="flex justify-content-center align-content-center text-align-center mt-3">
          <input type="text" formControlName="socialNumber" pInputText placeholder="CPF" [style]="{ width: '420px' }">
        </div>

        <div class="flex justify-content-center align-content-center text-align-center mt-3">
          <input type="email" pInputText formControlName="email" placeholder="Email" [style]="{ width: '420px' }">
        </div>

        <div class="flex justify-content-center align-content-center text-align-center mt-3 gap-2">
          <input type="password" formControlName="password" pInputText placeholder="Senha">
          <input type="password" formControlName="confirmPassword" pInputText placeholder=" Confirmar Senha">
        </div>

        <div class="card flex justify-content-center mt-5">
          <button type="submit" [disabled]="!this.signupForm.valid" pButton pRipple label="Criar Conta" icon="pi pi-user-plus" [style]="{ width: '250px' }"></button>
        </div>

        <span
        class="flex justify-content-center align-content-center text-align-center mt-3 text-grey-600 font-semibold"
        style="cursor: pointer;"
        (click)="loginCard = !loginCard"
        > Voltar para Login </span>

      </p-card>
      </form>

    </div>
  </div>
</div>
