<div>
  <form [formGroup]="phoneForm" (ngSubmit)="submit()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Número" formControlName="number" />
      <p-dropdown
        appendTo="body"
        styleClass="w-full"
        placeholder="Tipo telefone"
        [options]="types"
        [(ngModel)]="selectedType.value"
        selectId="type"
        optionLabel="label"
        optionValue="value"
        formControlName="type">
        <ng-template let-type pTemplate="item">
          <div class="flex align-items-center gap-2">
              <div>{{ type.value | phoneTypeDescription }}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <div class="flex flex-row justify-content-center align-content-center align-items-center">
        <p-button
          [disabled]="!phoneForm.valid"
          type="submit"
          label="Concluir">
        </p-button>
      </div>
    </div>
  </form>
</div>
