.person-name-circle {
  background: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  overflow: hidden;
	float: left;
	margin: 15px;
}

span {
  display: block;
  text-align: center;
  align-self: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 45px;
  max-width: 100%;
}
